<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All leagues
    </h1>

    <a href="/leagues/new" class="btn btn-block btn-outline-secondary">
      Add a new league
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "league_templates/leagues_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Level
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @leagues.each do |league| %>
      <tr>
        <td>
          <%= league.id %>
        </td>

        <td>
          <%= league.name %>
        </td>

        <td>
          <%= league.level %>
        </td>

        <td>
          <%= time_ago_in_words(league.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(league.updated_at) %> ago
        </td>

        <td>
          <a href="/leagues/<%= league.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @leagues, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
