<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      League #<%= @league.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/leagues" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link league start -->
      <div class="col">
        <a href="/leagues/<%= @league.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit league
        </a>
      </div>
      <!-- Edit link league end -->

      <!-- Delete link league start -->
      <div class="col">
        <a href="/delete_league/<%= @league.id %>" class="btn btn-block btn-outline-secondary">
          Delete league
        </a>
      </div>
      <!-- Delete link league end -->
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @league.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Level
      </dt>
      <!-- Display level start -->
      <dd>
        <%= @league.level %>
      </dd>
      <!-- Display level end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@league.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@league.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
