<h1>
  Edit player #<%= @player.id %>
</h1>

<hr>

<form action="/update_player/<%= @player.id %>" method="post">

  <div class="form-group">
    <label for="club_id">
      Club
    </label>

    <%= select_tag(:club_id, options_from_collection_for_select(Club.all, :id, :league_id, @player.club_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @player.name %>">
  </div>

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @player.position %>">
  </div>

  <div class="form-group">
    <label for="level">
      Level
    </label>

    <input type="text" id="level" name="level" class="form-control" value="<%= @player.level %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update player
  </button>
</form>

<hr>

<a href="/players">
  Go back
</a>
