<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All players
    </h1>

    <a href="/players/new" class="btn btn-block btn-outline-secondary">
      Add a new player
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "player_templates/players_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Club
        </th>

        <th>
          Name
        </th>

        <th>
          Position
        </th>

        <th>
          Level
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @players.each do |player| %>
      <tr>
        <td>
          <%= player.id %>
        </td>

        <td>
          <% if player.club.present? %>
            <a href="/clubs/<%= player.club.id %>">
              <%= player.club.league_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= player.name %>
        </td>

        <td>
          <%= player.position %>
        </td>

        <td>
          <%= player.level %>
        </td>

        <td>
          <%= time_ago_in_words(player.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(player.updated_at) %> ago
        </td>

        <td>
          <a href="/players/<%= player.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @players, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
