<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Player #<%= @player.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/players" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/players/<%= @player.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit player
        </a>
      </div>

      <div class="col">
        <a href="/delete_player/<%= @player.id %>" class="btn btn-block btn-outline-secondary">
          Delete player
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Club
      </dt>
      <dd>
        <% if @player.club.present? %>
          <a href="/clubs/<%= @player.club_id %>">
            <%= @player.club.league_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @player.name %>
      </dd>

      <dt>
        Position
      </dt>
      <dd>
        <%= @player.position %>
      </dd>

      <dt>
        Level
      </dt>
      <dd>
        <%= @player.level %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@player.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@player.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

